*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.text-head{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.back-img{
    height: auto;
    background-image: url(../img/jumbo.png) ;
    color: white;
    background-size:100%;
    height: 500px;
}
